@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.App {
  text-align: center;
}

.icon-switch-btn {
  width: 4vw;
  height: 4vw;
  cursor: pointer;
  display: block;
  margin-left: auto;
  font-size: 4vw;
}

.cards-view {
  width: 90vw;
  border: 2px solid grey;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1vw;
}

.shop-card {
  background-color: #f5f5f6;
  box-shadow: 5px 10px 2px #505050;
  width: 25vw;
  margin-right: 2vw;
  margin-bottom: 2vw;
  text-transform: uppercase;
}

/* .shop-card-title {

}

.shop-card-color {

} */

.shop-card-preview {
  width: 15vw;
  display: block;
  margin: auto;
}

.shop-card-price-buy {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  color: #a61223;
  
  margin-bottom: 2vw;
}

.shop-card-price {
  display: block;
  padding: 4px;
  font-size: 1.25em;
}

.shop-card-buy-btn {
  padding: 4px 10px;
  border: 2px solid #a61223;
  border-radius: 1em;
  cursor: pointer;
}

.list-view {
  width: 90vw;
  border: 2px solid grey;
  margin: auto;
  padding: 1vw;
  list-style: none;
}

.shop-item {
  background-color: #f5f5f6;
  width: 100%;  
  text-transform: uppercase;
  border-bottom: 2px solid #505050;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1vw;
}

.shop-item-title {
  font-size: 1.5vw;
}

/* .shop-item-color {

} */

.shop-item-preview {
  width: 7vw;
  display: block;
  margin-bottom: 1vw;
}


.shop-item-price {
  display: block;
  padding: 4px;
  font-size: 1.25em;
  color: #a61223;
}

.shop-item-buy-btn {
  padding: 4px 10px;
  border: 2px solid #a61223;
  border-radius: 1em;
  cursor: pointer;
  color: #a61223;
}